doctype html
html
  head
    title= gif
    style.
      body {
        position: absolute;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: black no-repeat fixed center;
        background-size: contain;
        cursor: pointer;
        background-image: url('/#{gif}');
        display: table;
      }
      input {
        margin-left: -10000em;
      }
      code {
        color: whitesmoke;
        font-size: 3em;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        background: rgba(0, 0, 0, .5);
        transition: opacity .3s;
      }
  body
    input
    code ctrl/cmd + c
    script.
      function reload () {
        window.location = window.location
      }

      var body = document.querySelector('body');

      if (window.addEventListener) {
        body.addEventListener('click', reload);
        body.addEventListener('touchend', reload);
      } else if (window.attachEvent) {
        body.attachEvent('onclick', reload);
      } else {
        body.onclick = reload;
      }

      var input = 
      document.querySelector('input');

      input.value = window.location.href + '#{gif}';

      setInterval(function(){
        input.select();
      }, 1000);

      var code = document.querySelector('code');

      if (window.sessionStorage.helpshown != '0') {
        window.sessionStorage.helpshown = '0';
        setTimeout(function(){
          code.style.opacity = '0';
        }, 2000);
      } else {
        code.style.display = 'none';
      }
