doctype html
html
  head
    title all gifs
    meta(name="viewport" content="initial-scale=1.0,maximum-scale=1,width=device-width")
    style.
      body {
        font-family: Helvetica, Arial, sans-serif;
      }
  body
    h1 All gifs
    ul
      each gif in gifs
        li: a(href="/#{gif}")= gif
